# SQL AND SQLite
### SQL ( Structured Query Language) is a standard language for managing and manipulating relational databases. 
### SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [158]:
import sqlite3

In [159]:
# To connect to a SQLite Database
connection =sqlite3.connect("example.db", timeout=30)
connection

In [160]:
# To be able to iterate all the tables rows and column
cursor = connection.cursor()

In [161]:
# To create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
''')

# To commit the changes 
connection.commit()

In [162]:
cursor.execute('''
    SELECT * FROM employees               
''')

connection.commit()

In [163]:
# To insert the data in sqlite table
cursor.execute('''
    INSERT INTO employees(name, age, department)           
                    VALUES("Dave", 20, "Software Developer")
''')

cursor.execute('''
    INSERT INTO employees(name, age, department)           
                    VALUES("Joseph", 33, "Engineering")
''')

cursor.execute('''
    INSERT INTO employees(name, age, department)           
                    VALUES("Alex", 42, "Finance")
''')

# To commit the changes
connection.commit()

In [164]:
# To Query the data from the table
cursor.execute('''SELECT * FROM employees''')
rows = cursor.fetchall()

# To print the queried data
for row in rows:
    print(row)

(1, 'Dave', 20, 'Software Developer')
(2, 'Joseph', 33, 'Engineering')
(3, 'Alex', 42, 'Finance')

In [165]:
# To update the data in th etable
cursor.execute('''
               UPDATE employees 
               SET age=34 WHERE name="Dave"
''')

connection.commit()

In [166]:
# To Query the data from the table
cursor.execute("""SELECT * FROM employees""")
rows = cursor.fetchall()

# To print the queried data
for row in rows:
    print(row)

(1, 'Dave', 34, 'Software Developer')
(2, 'Joseph', 33, 'Engineering')
(3, 'Alex', 42, 'Finance')

In [167]:
# To delete the data from the table
cursor.execute('''
    DELETE FROM employees WHERE name = "Alex"
''')

In [168]:
# To work with the Sales Data
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

# To create a table for Sales Data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )               
''')

# To insert into the sales table
sales_data = [
    ('2025-01-01', 'Product1', 100, 'North'),
    ('2025-01-02', 'Product2', 200, 'South'),
    ('2025-01-03', 'Product1', 150, 'East'),
    ('2025-01-04', 'Product3', 250, 'West'),
    ('2025-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
    INSERT INTO sales(date, product, sales, region)
    VALUES(?,?,?,?)
''',sales_data)

connection.commit()

In [169]:
# To query data from the sales table
cursor.execute('''SELECT * FROM sales''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2025-01-01', 'Product1', 100, 'North')
(2, '2025-01-02', 'Product2', 200, 'South')
(3, '2025-01-03', 'Product1', 150, 'East')
(4, '2025-01-04', 'Product3', 250, 'West')
(5, '2025-01-05', 'Product2', 300, 'North')

In [170]:
# To permanently close the connection
connection.close()